<template>
    <div id="main">
        <header>
            <v-container>
                <h1><span class="boxy">find a new vlogger</span></h1>
                <h3><span class="boxy">personality based youtuber search <small>~ powered by reddit, ai & ❤</small></span></h3>
                <h3 class="mt-5 white--text">what does your perfect youtuber look like?</h3>
                <v-layout row class="mt-5">
                  <v-flex
                    xs12 sm3 offset-sm2
                  >
                    <h3>
                      <span class="boxy">age range ↪</span>
                    </h3>
                  </v-flex>
                  <v-flex class="px-3" xs12 sm4>
                    <v-range-slider
                      dark
                      v-model="range"
                      :max="max"
                      :min="min"
                      step="5"
                      ticks
                      color="black"
                      thumb-color="black"
                      thumb-label="always"
                      :hint="range[0] + ' years old to ' + range[1] + ' years old'"
                      persistent-hint
                    ></v-range-slider>
                  </v-flex>
                </v-layout>
                <v-layout row class="mt-3">
                  <v-flex class="px-3">
                    <checkable-button
                      type="man"
                      tooltip="male">
                    </checkable-button>
                    <checkable-button
                      type="woman"
                      tooltip="female">
                    </checkable-button>
                    <checkable-button
                      type="unknown"
                      tooltip="unknown">
                    </checkable-button>
                    <span style="display: inline-flex;"><h3 class="ml-3">
                      <span class="boxy">↩ gender</span>
                    </h3></span>
                  </v-flex>
                </v-layout>
                <v-layout column class="mt-5">
                  <v-flex>
                    <h3>
                      <span class="boxy">location ⤵</span>
                      <small class="white--text">(draw a circle around anywhere on the map...</small>
                    </h3>
                  </v-flex>
                  <location-map>
                  </location-map>
                </v-layout>
              </v-card-text>
            </v-container>
        </header>
        <v-container>
          <v-btn>test</v-btn>
        </v-container>
    </div>
</template>

<script>
import UserSummary from 'components/UserSummary'
import CheckableButton from 'components/CheckableButton'
import LocationMap from 'components/LocationMap'

export default {
  name: 'core',
  components: {
      UserSummary,
      CheckableButton,
      LocationMap
  },
  data () {
    return {
      value: 0,
      min: 0,
      max: 120,
      slider: 40,
      range: [20, 35]
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="css">

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('../assets/NeoSansArabic.woff2') format('woff2'),
        url('../assets/NeoSansArabic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    .application {
        font-family: 'Neo Sans Arabic'; font-weight: normal; font-style: normal;
    }
    body {
      background-color: #E53F35;
    }
    #app {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #cad6e6;
    }
    a {
        color: #6edbff;

        &:hover, &:focus {
            color: lighten(#6edbff, 10);
        }
    }

    header {
        position: relative;
        background: #E53F35;
        background: url('../assets/heatbaby.png');
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 2rem 0 2rem;
        margin-bottom: 3rem;
        overflow: hidden;
    }
    .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal alignment */
}
@media only screen and (max-device-width : 640px) {
  h3 {
    font-size: 4vw !important;
  }
}

h1 {
    font-weight: bold;
  margin-bottom: 0px;
  position: relative;
  z-index: 5;
}

h1>.boxy {
  border-style: solid;
  border-width: 4px 4px 0 4px; /* No border at the bottom */
  box-shadow: -10px -10px;
}

h3>.boxy {
  border-style: solid;
  border-width: 4px;
  box-shadow: -10px -10px;
}

.boxy {
  background-color: white;
  border-radius: 2px;
  color: black;
  padding: 10px;
}

button {
  border-style: solid;
  border-color: black;
  border-width: 4px;
  box-shadow: 10px 10px !important;
  text-transform: lowercase !important;
}
button:hover {
  box-shadow: 0px 0px !important;
}
</style>
